
{% extends "base.html.twig" %}

{# on ecrase le bloc title #}
{% block title %}
    Ajouter un produits
{% endblock %}

{# on ecrase le bloc body #}
{% block body %}

    <h1>Ajouter un produit</h1>

{% endblock %}