
{% extends "base.html.twig" %}

{# on ecrase le bloc title #}
{% block title %}
    Modifier un produit
{% endblock %}

{# on ecrase le bloc body #}
{% block body %}

    <h1>Modifier un produit</h1>

{% endblock %}