
{% extends "base.html.twig" %}

{# on ecrase le bloc title #}
{% block title %}
    Liste des produits
{% endblock %}

{# on ecrase le bloc body #}
{% block body %}

    <h1>Listes des produits</h1>

{% endblock %}